* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(200deg, #fbed77, #d8b376);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: #ebc777;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar .logo h1 {
    color: #fff;
    margin-bottom: 30px;
}

.sidebar .nav ul {
    list-style: none;
    width: 100%;
}

.sidebar .nav ul li {
    width: 100%;
    margin-bottom: 20px;
}

.sidebar .nav ul li a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar .nav ul li a i {
    margin-right: 10px;
}

.sidebar .nav ul li a:hover {
    background-color: #d3b7d8;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    height: 100%;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.header h2 {
    color: #8e9aaf;
}

.content {
    flex: 1;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.card i {
    font-size: 40px;
    color: #ebc777;
    margin-bottom: 10px;
}

.card h3 {
    margin-bottom: 10px;
    color: #8e9aaf;
}

.card p {
    color: #8e9aaf;
}

.footer {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.personal-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto
}
.table__td {
    background-color: #fff;
    padding: 20px;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;


}
.table__tr {
        margin-bottom: 10px;
            color: #8e9aaf;
}
.personal-info h3 {
    color: #8e9aaf;
    text-align: center;
}